<h2>Sign in</h2>

<%= form_tag(session_path) do %>
	<ol id="sign-in-field">
		<li>
			<%= label_tag :email %><br/>
			<%= email_field_tag :email, nil, required: true %>
		</li>
		<li>
			<%= label_tag :password %><br/>
			<%= password_field_tag :password, nil, required: true %>
		</li>
	</ol>

	<p>
		Not yet a member? <%= link_to "Sign up", signup_path %> now!
	</p>

	<p>
		<%= submit_tag 'Sign in', class:"btn btn-primary" %> <%= link_to "Cancel", root_path, class:"btn btn-warning" %>
	</p>
<% end %>