<h1>Commenting on "<%= @post.title %>"</h1>

<%= form_for([@post, @comment]) do |f| %>
	<div>
		<p>
			<%= f.label :comment_title %><br/>
			<%= f.text_field :comment_title, autofocus: true %><br/>
		</p>
		<p>
			<%= f.label :comment_body %><br/>
			<%= f.text_area :comment_body, size: "80x10" %><br/>
		</p>
	</div>
	<p>
		<%= f.submit 'Post Comment', class:"btn btn-primary" %> <%= link_to 'Cancel', root_path, class:"btn btn-warning" %>
	</p>
<% end %>