<%= form_for(@user) do |f| %>
	<p>
		<%= f.label :name %><br/>
		<%= f.text_field :name %><br/>
	</p>
	<p>
		<%= f.label :email %><br/>
		<%= f.email_field :email %><br/>
	</p>
	<p>
		<%= f.label :password %><br/>
		<%= f.password_field :password %><br/>
	</p>
	<p>
		<%= f.label :password_confirmation, "Confirm Password" %><br/>
		<%= f.password_field :password_confirmation %><br/>
	</p>
	<p>
		<% if @user.new_record? %>
			<%= f.submit "Create Account", class:"btn btn-primary" %> 
		<% else %>
			<%= f.submit "Edit Account", class:"btn btn-primary" %> 
		<% end %>
		<%= link_to 'Cancel', root_path, class:"btn btn-warning" %>
	</p>
<% end %>