<p style="float:left;padding-right:1.5em;"><%= profile_image_for(@user) %></p>

<h2>
	<%= @user.name %>'s Profile 
	<%= link_to "Edit Account Information", edit_user_path, class:"btn btn-warning" %> 
	<%= link_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure you want to permanently delete your account?" }, class:"btn btn-danger" %> 	
</h2>

<p>
	<%= @user.email %>
	<% if @user.posts.count >= 1 %>
		 - <%= pluralize(@user.posts.count, 'post') %> contributed
	<% end %>
</p>

<% if @user.comments.any? %>
	<h3 id="profile-comments-title"><u>Comments</u></h3>
		<% @user.comments.each do |comment| %>
			<h4 id="comment-title">
				<%= comment.comment_title %>  
				<small><%= time_ago_in_words(comment.created_at) %> ago on "<%= link_to comment.post.title, post_path %>"</small>
			</h4>
			<p>
				<%= comment.comment_body %>
			</p>
		<% end %>
<% end %>