<%= form_for(@post) do |f| %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %><br/>
	</p>
	<p>
		<%= f.label :body %><br/>
		<%= f.text_area :body, size: "80x10" %><br/>
	</p>
	<p>
		<%= f.submit class:"btn btn-primary" %> <%= link_to 'Cancel', root_path, class:"btn btn-warning" %>
	</p>
<% end %>