<%= render 'new_post_button' %>

<div class="post">
	<% @posts.each do |post| %>
		<h2 id="index-post-title">
			<%= link_to post.title, post %>
		</h2>
		<p>
			<small>
				<%= post.user.name %>
			</small>
		</p>
		<p class="date">
			<%= post.created_at.to_date.to_formatted_s(:long) %>
		</p>
		<p>
			<%= simple_format(truncate(post.body, { length: 300, separator: ' ' })) %>
		</p>
		<p>
			<%= pluralize(post.comments.count, "Comment") %>
		</p>
		<p>
			<%= link_to "View Post", post, class:"btn btn-primary" %>
		</p>
	<% end %>
</div>

<%= render 'new_post_button' %>
