<h2>
	<%= @post.title %>
</h2>
<p>
	<small>
		<%= @post.user.name %>
	</small>
</p>
<p class="date">
	<%= @post.created_at.to_date.to_formatted_s(:long) %>
</p>
<p>
	<%= simple_format(@post.body) %>
</p>

<p>
	<%= link_to 'All Posts', posts_path, class:"btn btn-primary" %>
	<% if current_user_admin? %> 
		<%= link_to 'Edit Post', edit_post_path(@post), class:"btn btn-warning" %> 
		<%= link_to 'Delete Post', post_path(@post), class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
		<% end %>
</p>

<div id="comment">

	<h3>
		<%= pluralize(@post.comments.count, "Comment") %> - 
		<% if current_user %>
			<%= link_to "Add Comment", new_post_comment_path(@post) %>
		<% else %>
			<%= link_to "Sign in to add comment!", signin_path %>
		<% end %>
	</h3>

	<% @post.comments.each do |comment| %>
		<h4 id="comment-title">
			<%= comment.comment_title %>  
			<small>
				<%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %>
			</small>
			<% if current_user_admin? %>
				<small id="delete-comment">
					 - <%= link_to "Delete Comment", '#' %>
				</small>
			<% end %>
		</h4>
		<p><%= comment.comment_body %></p>
	<% end %>
</div>