@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto:400,700|Slabo+27px';

$deep-red: #DD0000;

#main-content {
  font-family: "Roboto", sans-serif;
  
  h1, h2, h3, h4 {
    font-family: "Slabo 27px", serif;
    color: black;
  }
    
  #index-post-title {
    padding-top: 10px;
      
    @import 'link-style';
  }
  
  .date {
    font-weight: bolder;
    color: black;
  }
  
  #comment {
    padding-bottom: 5px;
    padding-top: 10px;

    @import 'link-style';
  }
  
  #comment-title {
    padding-top: 15px;
  }

  #delete-comment {
  	color: red;
  	
  	a, a:visited {
  		color: $deep-red;
  		font-family: "Slabo 27px", serif;
          
  		&:hover {
    		color: $deep-red;
    		text-decoration: none;
  		}
		}
  }

  #sign-in-field {
  	padding-top: 8px;
  	padding-bottom: 10px;
  	padding-left: 0;
  	list-style-type: none;
  	margin: 0;
  }

  #profile-comments-title {
    padding-top: 15px;
  }
}

footer {
	font-family: "Roboto", serif;
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid black;
}

header {
	font-family: "Slabo 27px", sans-serif;
}