<!DOCTYPE html>
<html>
	<head>
	  <title>FosterBlog</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<header>
			<%= render 'layouts/navbar' %>
		</header>

		<div id="main-container" class="container">
			<div class="row">
				<div id="main-content" class="col-xs-9">
					
					<%= flash[:alert] %>
					<%= flash[:notice] %>
					<%= flash[:warning] %>

					<%= yield %>

				</div>
			</div>

			<footer>
				<%= render 'layouts/footer' %>
			</footer>
			
		</div>
	</body>
</html>